button {
  background-color: #2f86eb;
  color: #fff;
  font-size: 18px;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 30px;
  min-width: 100px;
  max-width: 300px;
  

}

button:hover {
  opacity: 0.8;
}